* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
}

html {
    overflow-x: hidden;
    background: linear-gradient(to right,#f5f5f5cc,#f5f5f5cc),url(https://servidor-estatico-tan.vercel.app/common-bg.svg);
    background-position: center;
}

.carrossel-arrow {
    display: none;
}

.hero {
    height: 100vh;
    background-image: url("assets/images//mister-travel.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: absolute;
    display: flex;
    justify-content: end;
    right: 0;
    top: 20px;
    z-index: 1;
    height: 0;
}

nav {
    color: #0d103f;
}

nav li {
    list-style: none;
    display: inline;
    margin-right: 24px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

nav li a {
    color: #0d103f;
    text-decoration: none;
    cursor: pointer;
}

nav li a:hover {
    color: #326273;
}


.container-flex {
    display: flex;
}

#about img {
    width: 100%;
    margin-right: 24px;
    border-radius: 4px;
}

#about h2 {
    margin-top: 16px;
}

#about p {
    padding-top: 10px;
}

section {
    padding: 48px 0;
    padding-top: 100px;
}

section h2 {
    margin-bottom: 16px;
}

.lista-locais {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
}

.lista-locais li {
    width: 320px;
    list-style: none;
    margin-bottom: 24px;
}

.lista-locais li img {
    height: 200px;
    border-radius: 4px;
}

.lista-locais li h3 {
    margin: 16px 0;
}

.lista-locais li>strong {
    margin: 16px 0;
    display: block;
}

button {
    display: block;
    width: 100%;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 16px;
    background-color: #326273;
    padding: 8px 0;
    font-style: italic;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #487c8e;
}

.price {
    margin: 16px 0;
    display: block;
}

.price del {
    color: #b2b2b2;
    font-size: 14px;
}

#contato .container {
    background-color: #e7e7e7;
    padding: 24px;
}

#contato h2 {
    text-align: center;
}

form {
    width: 540px;
    margin: 0 auto;
}

.form-campo {
    margin-bottom: 8px;
}

.form-campo label {
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 6px;
    font-size: 16px;
    outline-color: #326273;
}

.form-campo textarea {
    resize: none;
    height: 100px;
}

.form-campo #viagemInteresse {
    font-weight: bold;
}

.mensagem-enviada {
    background-color: #87baab !important;
    color: #fff;
    padding: 8px;
    border-radius: 6px;
    margin-top: 14px;
    text-align: center;
    display: none;
    z-index: 99;
}

.direitos {
    display: flex;
    justify-content: space-between;
    background-color: #326273;
    color: #fff;
    height: 80px;
    align-items: center;
}

.direitos a {
    text-decoration: none;
    color: #fff;
}

.direitos a:hover {
    text-decoration: none;
    color: #708090;
}

.direitos .social {
    display: flex;
    justify-content: space-between;
}

.direitos .social li {
    padding: 4px;
}

.direitos .social li img {
    height: 32px;
}

.direitos .social li img:hover {
    transform: scale(1.1);
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 120px;
    right: 30px;
    width: 60px;
    height: 60px;
    z-index: 99;
    font-size: 50px;
    color: #326273;
    border: none;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
  }
  
#scrollToTopBtn:hover {
    color: #555;
}